.character-container,
.player-combat-container,
.enemy-combat-container,
.combat-log-container {
	border: 3px outset lightgrey;
	background-color: white;
}

html {
	background: url(../images/background.png);
	background-repeat: repeat;
}

body {
	width: 85vw;
	margin: 15px auto 0 auto;
	text-align: center;
	font-family: 'Spectral SC', serif;
}

.title-text {
	font-size: 35px;
	font-weight: bold;
	margin: 15px 0;
}

.character-container {
	max-width: 50vw;
	margin: 15px auto;
}

.prompt-text {
	font-size: 25px;
	text-decoration: underline;
	margin: 10px 0;
}

.character-wrapper {
	display: inline-block;
	border: 3px outset lightgrey;
	margin: 10px 10px 10px 10px;
}

.character-name {
	border-bottom: 2px outset lightgrey;
	padding: 5px 0;
	font-weight: bold;
	font-style: italic;
}

.character-wrapper img {
	max-width: 15vw;
	max-height: 25vh;
}

.character-wrapper .charater-stats {
	margin: 50px 0;
}


.player-combat-container, 
.enemy-combat-container {
	display: inline-block;
}

.combat-character-label {
	margin-top: 10px;
	text-decoration: underline;
}

.combat-log-container {
	font-size: 16px;
	max-width: 20vw;
	min-height: 50px;
	justify-content: center;
	margin: 15px auto;
	padding: 5px 5px;
}

.player-combat-log, .enemy-combat-log {
	margin: 5px 0;
}

#reset-button, #attack-button {
	min-height: 40px;
	border: 2px outset grey;
	margin: 5px 5px;
}

#attack-button {
	float: left;
}

#attack-button:active, #reset-button:active {
	border: 2px inset grey;
}

#attack-button:focus, #reset-button:focus {
	outline: none;
}
