.character-container,
.player-character-container,
.enemy-character-container,
.combat-log-container {
	border: 3px outset lightgrey;
}

html {
/*	background: url(../images/background.png);
	background-repeat: repeat;*/
}

body {
	width: 85vw;
	margin: 15px auto 0 auto;
	text-align: center;
	font-family: 'Spectral SC', serif;
}

.title-text {
	font-size: 35px;
	font-weight: bold;
}

.character-container {
	max-width: 50vw;
	max-height: 33vh;
	margin: 15px auto;
}

.prompt-text {
	font-size: 25px;
	text-decoration: underline;
}

.character-wrapper {
	display: inline-block;
	border: 3px outset lightgrey;
	margin: 10px 10px 10px 10px;
}

.character-name {
	border-bottom: 2px outset lightgrey;
	padding: 5px 0;
	font-weight: bold;
	font-style: italic;
}

.character-wrapper img {
	max-width: 15vw;
	max-height: 20vh;
}


.player-character-container, 
.enemy-character-container {
	display: inline-block;
}

.combat-log-container {
	font-size: 14px;
	max-width: 20vw;
	min-height: 50px;
	margin: 15px auto;
	justify-content: center;
	padding: 5px 5px;
}

.player-combat-log {
	margin-top: 10px;
}

#attack-button {
	float: left;
	min-height: 40px;
	border: 2px outset grey;
	margin: 5px 5px;
}

#attack-button:active {
	border: 2px inset grey;
}

#attack-button:focus {
	outline: none;
}